body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #d3d3d3;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.brand-logo{
  margin-left: 1rem;
}

form {
  padding: 1.3rem;
  margin: 6rem 1.3rem 0;
}

.note{
  padding: 1rem;
  margin-bottom: 2rem;
}

.notelist{
  padding: 1rem;
  margin-top: 6rem;
}
